<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sweetcake"
        android:label="Sweet Cake"
        android:roundIcon="@drawable/sweetcake"
        android:supportsRtl="true"
        android:theme="@style/Theme.Krupalcollege"
        tools:targetApi="31">
        <activity
            android:name=".FullImageActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".DesigenActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".RegularActivity"
            android:exported="false" />
        <activity
            android:name=".AnnivarsaryActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add_cake_Activity"
            android:exported="false" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="false"
            android:theme="@style/Theme.Krupalcollege" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BuyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>